
{% extends 'inherit/base.html' %}
{% load static %}

{% block 'title' %}404{% endblock 'title' %}
{% block 'content' %}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>				
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
     
        </div>
    </div>					
</section>

			<!-- Start top-category-widget Area -->
			<section class="top-category-widget-area pt-90 pb-90 ">
				<div class="container">
					<div class="row">		
						<div class="col-lg-4">
							<div class="single-cat-widget">
								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
                                        <h3 style="color: red; font-family: '3 zar'; text-align: center;">صفحه مورد نظر یافت نشد</h3>
                                    </div>
								      
								    </a>
								</div>
							</div>
						</div>
																	
					</div>
				</div>	
			</section>
			<!-- End top-category-widget Area -->
			


{% endblock 'content' %}
